<!-- interpolation -->
<h1>website name : {{ title }}</h1>
<p>my image</p>
<!-- property binding -->
<img [src]="imgurl" class="my-image" />
<!-- class binding -->
<br />
<div [class.test]="isActive" (click)="switch()">Class Binding!!!!</div>
<!-- style binding -->
<br />
<button [style.backgroundColor]="isActive ? 'red' : 'yellow'">
  Style Binding
</button>
<br />
<!-- event binding -->
<button (click)="dosomething()">click</button><br />

<!-- event binding  + template variabvle #test  -->
<!-- one way binding -->
<input
  type="email"
  placeholder="please enter your email"
  class="email"
  #email
  [value]="myemail"
  (keyup)="showMyEmail(email.value)"
/>
<br /><br />
{{ myemail }}
<br />
<br />
<input
  type="password"
  placeholder="please enter your password"
  class="email"
/><br />
<input type="text" placeholder="please enter your description" class="email" />
<input type="date" class="email" />
<input type="file" class="email" />

<!-- <two way binding -->
<br />
<br />
Full Name:
<input [(ngModel)]="fullName" (keyup.enter)="displayName()" />

<!-- create new component -->
<!-- ng g c parent
     ng g c child -->

<!-- how to add new component to html  -->
<!-- put the new tag on the app.copnent.html -->
<app-parent></app-parent>
<!-- 1.component API 2.input property -->
<app-child [name]="aaaaa" [email]="bbbbb"></app-child>
